<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Player</key>
	<array>
        <dict>
            <key>Index_col</key>
            <integer>2</integer>
            <key>Index_row</key>
            <integer>6</integer>
            <key>Unit</key>
            <string>0</string>
        </dict>
        <dict>
            <key>Index_col</key>
            <integer>3</integer>
            <key>Index_row</key>
            <integer>6</integer>
            <key>Unit</key>
            <string>0</string>
        </dict>
        <dict>
            <key>Index_col</key>
            <integer>4</integer>
            <key>Index_row</key>
            <integer>6</integer>
            <key>Unit</key>
            <string>0</string>
        </dict>
        <dict>
            <key>Index_col</key>
            <integer>5</integer>
            <key>Index_row</key>
            <integer>6</integer>
            <key>Unit</key>
            <string>0</string>
        </dict>
        <dict>
            <key>Index_col</key>
            <integer>6</integer>
            <key>Index_row</key>
            <integer>6</integer>
            <key>Unit</key>
            <string>0</string>
        </dict>
        <dict>
            <key>Index_col</key>
            <integer>2</integer>
            <key>Index_row</key>
            <integer>7</integer>
            <key>Unit</key>
            <string>0</string>
        </dict>
        <dict>
            <key>Index_col</key>
            <integer>3</integer>
            <key>Index_row</key>
            <integer>7</integer>
            <key>Unit</key>
            <string>0</string>
        </dict>
        <dict>
            <key>Index_col</key>
            <integer>4</integer>
            <key>Index_row</key>
            <integer>7</integer>
            <key>Unit</key>
            <string>0</string>
        </dict>
        <dict>
            <key>Index_col</key>
            <integer>5</integer>
            <key>Index_row</key>
            <integer>7</integer>
            <key>Unit</key>
            <string>0</string>
        </dict>
        <dict>
            <key>Index_col</key>
            <integer>6</integer>
            <key>Index_row</key>
            <integer>7</integer>
            <key>Unit</key>
            <string>0</string>
        </dict>
		<dict>
			<key>Index_col</key>
			<integer>2</integer>
			<key>Index_row</key>
			<integer>8</integer>
			<key>Unit</key>
			<string>0</string>
		</dict>
		<dict>
			<key>Index_col</key>
			<integer>3</integer>
			<key>Index_row</key>
			<integer>8</integer>
			<key>Unit</key>
			<string>0</string>
		</dict>
		<dict>
			<key>Index_col</key>
			<integer>4</integer>
			<key>Index_row</key>
			<integer>8</integer>
			<key>Unit</key>
			<string>0</string>
		</dict>
		<dict>
			<key>Index_col</key>
			<integer>5</integer>
			<key>Index_row</key>
			<integer>8</integer>
			<key>Unit</key>
			<string>0</string>
		</dict>
		<dict>
			<key>Index_col</key>
			<integer>6</integer>
			<key>Index_row</key>
			<integer>8</integer>
			<key>Unit</key>
			<string>0</string>
		</dict>
	</array>
	<key>Enemy</key>
	<array>
        <dict>
            <key>Index_col</key>
            <integer>2</integer>
            <key>Index_row</key>
            <integer>2</integer>
            <key>Unit</key>
            <string>0</string>
        </dict>
        <dict>
            <key>Index_col</key>
            <integer>3</integer>
            <key>Index_row</key>
            <integer>2</integer>
            <key>Unit</key>
            <string>0</string>
        </dict>
        <dict>
            <key>Index_col</key>
            <integer>4</integer>
            <key>Index_row</key>
            <integer>2</integer>
            <key>Unit</key>
            <string>0</string>
        </dict>
        <dict>
            <key>Index_col</key>
            <integer>5</integer>
            <key>Index_row</key>
            <integer>2</integer>
            <key>Unit</key>
            <string>0</string>
        </dict>
        <dict>
            <key>Index_col</key>
            <integer>6</integer>
            <key>Index_row</key>
            <integer>2</integer>
            <key>Unit</key>
            <string>0</string>
        </dict>
        <dict>
            <key>Index_col</key>
            <integer>2</integer>
            <key>Index_row</key>
            <integer>1</integer>
            <key>Unit</key>
            <string>0</string>
        </dict>
        <dict>
            <key>Index_col</key>
            <integer>3</integer>
            <key>Index_row</key>
            <integer>1</integer>
            <key>Unit</key>
            <string>0</string>
        </dict>
        <dict>
            <key>Index_col</key>
            <integer>4</integer>
            <key>Index_row</key>
            <integer>1</integer>
            <key>Unit</key>
            <string>0</string>
        </dict>
        <dict>
            <key>Index_col</key>
            <integer>5</integer>
            <key>Index_row</key>
            <integer>1</integer>
            <key>Unit</key>
            <string>0</string>
        </dict>
        <dict>
            <key>Index_col</key>
            <integer>6</integer>
            <key>Index_row</key>
            <integer>1</integer>
            <key>Unit</key>
            <string>0</string>
        </dict>
		<dict>
			<key>Index_col</key>
			<integer>2</integer>
			<key>Index_row</key>
			<integer>0</integer>
			<key>Unit</key>
			<string>0</string>
		</dict>
		<dict>
			<key>Index_col</key>
			<integer>3</integer>
			<key>Index_row</key>
			<integer>0</integer>
			<key>Unit</key>
			<string>0</string>
		</dict>
		<dict>
			<key>Index_col</key>
			<integer>4</integer>
			<key>Index_row</key>
			<integer>0</integer>
			<key>Unit</key>
			<string>0</string>
		</dict>
		<dict>
			<key>Index_col</key>
			<integer>5</integer>
			<key>Index_row</key>
			<integer>0</integer>
			<key>Unit</key>
			<string>0</string>
		</dict>
		<dict>
			<key>Index_col</key>
			<integer>6</integer>
			<key>Index_row</key>
			<integer>0</integer>
			<key>Unit</key>
			<string>0</string>
		</dict>
	</array>
</dict>
</plist>
