<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>group_ver</key>
		<integer>1</integer>
		<key>group_name</key>
		<string>Default</string>
		<key>units</key>
		<array>
			<dict>
				<key>point_action</key>
				<string>1</string>
				<key>point_attack</key>
				<string>1</string>
				<key>point_defense</key>
				<string>0</string>
				<key>point_hp</key>
				<string>3</string>
				<key>min_range</key>
				<string>0</string>
				<key>max_range</key>
				<string>1</string>
				<key>unit_type_name</key>
				<string>Common</string>
				<key>unit_type_id</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>point_action</key>
				<string>2</string>
				<key>point_attack</key>
				<string>3</string>
				<key>point_defense</key>
				<string>1</string>
				<key>point_hp</key>
				<string>5</string>
				<key>min_range</key>
				<string>0</string>
				<key>max_range</key>
				<string>1</string>
				<key>unit_type_name</key>
				<string>Fighter</string>
				<key>unit_type_id</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>point_action</key>
				<string>2</string>
				<key>point_attack</key>
				<string>3</string>
				<key>point_defense</key>
				<string>0</string>
				<key>point_hp</key>
				<string>5</string>
				<key>min_range</key>
				<string>1</string>
				<key>max_range</key>
				<string>3</string>
				<key>unit_type_name</key>
				<string>Archer</string>
				<key>unit_type_id</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>point_action</key>
				<string>1</string>
				<key>point_attack</key>
				<string>1</string>
				<key>point_defense</key>
				<string>0</string>
				<key>point_hp</key>
				<string>1</string>
				<key>min_range</key>
				<string>0</string>
				<key>max_range</key>
				<string>0</string>
				<key>unit_type_name</key>
				<string>Sickman</string>
				<key>unit_type_id</key>
				<integer>90</integer>
			</dict>
		</array>
	</dict>
</array>
</plist>
